<div layout="column" layout-gt-md="row">
  <div layout="column" flex-order-gt-md="2" flex layout-padding>
    <div ng-class="{ 'md-display-3': $mdMedia('gt-md'), 'md-display-1': !$mdMedia('gt-md')}" >Herzlich Willkommen beim VfL Grafenwald</div>
    <!--md-card>
        <md-card-title>        
          <md-card-title-text>
            <span class="md-headline">Jahresversammlung der Abteilung Fußball</span>
          </md-card-title-text>
        </md-card-title>  
        <md-card-content>
          Am Freitag, 7. April 2017 findet die Jahresversammlung der Abteilung Fußball statt. 
          Die Veranstaltung beginnt um 19.30 Uhr im Jugend- und Vereinsheim des VfL Grafenwald (Sensenfeld 96). <br />
          <a href="/Einladung_AV_2017.pdf">Einladung zur Abteilungsversammlung mit der vorgeschlagenen Tagesordnung</a>
        </md-card-content>
    </md-card-->
  </div>

  <div flex="66">
    <img src="/img/area.jpg" alt="" style="max-width: 75%; width: 75%; height: auto;"/>
  </div>
</div>

