<div layotu="row" layout-padding>
  <div class="md-title"> VfL Grafenwald e.V. </div>

  <div>
    Abteilung Fußball / Jugend <br>
    Sensenfeld 96<br>
    46244 Bottrop<br>
    Birgitt Schuknecht
  </div>

  <div>
    Vereinsregister-Nr: 168<br>
    Vereins-Kennziffer: 300 10 51<br>
    Steuer-Nr: 308/5831/0155<br>
  </div>
</div>

<div>
  Haftungshinweis: <br>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine <br>
  Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind <br>
  ausschließlich deren Betreiber verantwortlich.<br>
</div>