<div class="md-headline">
  Jugendvorstand
</div>
<md-table-container>
  <table md-table>
    <tbody md-body>
      <tr md-row ng-repeat="person in management">
        <td md-cell>{{person.job}}</td>
        <td md-cell>{{person.firstName + " " + person.name}}</td>
        <td md-cell>{{person.numberPrivate|| (person.numberMobile || "")}}</td>
        <td md-cell>
          <span ng-if="person.hasMail">
            <a href="#/vorstand/{{person.id}}" class="noLink">
              <sw-icon iconset="communication" icon="email" width="24"></sw-icon>    
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>